header {
    min-width: 100vw;
    text-align: center;
    vertical-align: middle;
    min-height: 10vh;
}
.centr {
    padding-top: 2vh;
    padding-bottom: 2vh;
}
main  {
    min-width: 82vw;
    max-width: 82%;
    height: 90vh;
    margin-left: 18vw;
    overflow: auto;
    float: left;
}
nav {
    min-width: 18vw;
    max-width: 18%;
    min-height: 90vh;
    float: left;
    position:absolute;
}
.bias {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
p {
    padding: 0 5px;
}