* {
    margin: 0 auto;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}
.link {
    color: #407efa;
}
a {
    color: rgb(165, 207, 193);
}
header {
    background-color: #587099;
}
body {
    background-color: #8689AC;
}
nav {
    background-color: #3F5576;
}
.header {
    background-color: #3F5576;
}
.additional {
    color: rgb(185, 192, 197);
}
.line {
    border-bottom: 1px solid silver;
    margin-left: 10px;
    margin-right: 10px;
}
.under_the_title {
    color: rgb(204, 244, 244);
}
.link_not_decoration {
    text-decoration: none;
}
button {
    background-color: rgb(87, 87, 226);
    color: #00ffea;
    padding: 12px;
    text-align: center;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 6px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
button:hover {
    background-color: rgb(54, 68, 88);
    color: white;
}