* {
    margin: 0 auto;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}
.link {
    color: #125fee;
}
a {
    color: rgb(165, 207, 193);
}
header {
    background-color: #587099;
}
body {
    background-color: #8689AC;
}
nav {
    background-color: #3F5576;
}
.header {
    background-color: #3F5576;
}
.additional {
    color: rgb(185, 192, 197);
}
.line {
    border-bottom: 1px solid silver;
    margin-left: 10px;
    margin-right: 10px;
}
.under_the_title {
    color: rgb(204, 244, 244);
}